:root {
    --primary-color: #230007;
    /* Black Bean */
    --secondary-color: #D7CF07;
    /* citrine */
    --accent1-color: #D98324;
    /* Fulvous */
    --accent2-color: #A40606;
    /* Turkey Red */
    --accent3-color: #5A0002;
    /* Rosewood */
    --heading-font: "Roboto Slab", sans-serif;
    --body-font: "Source Serif 4", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

p {
    color: #000;
    text-align: center;
}

h1 {
    position: absolute;
    top: 48%;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent3-color);
    color: var(--secondary-color);
}

h2 {
    font-weight: 1100;
    text-align: center;
}

.article {
    position: relative;
}


/* Class selectors below */

.socialmedia a {
    text-decoration: none;
    float: right;
}

.herodiv {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article p {
    position: absolute;
    padding: 20px 200px 30px 20px;
    margin: 5px 20px 100px 150px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    top: 100%;
    right: 10%;
    opacity: 0.9;

}

.hero article img {
    float: right;
    position: absolute;
    width: 170px;
    height: auto;
    box-shadow: 0 5px 5px 5px rgb(24, 23, 23);
    padding: 3px;
    margin: 2.4rem 0 1rem 1rem;
    top: 103%;
    right: 12.5%;
    z-index: 1;
}

/* Grid text below */
header {
    position: relative;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1.5px solid #000;
    max-width: 80%;
    padding: 0 0 20px 0;
    gap: 2rem;
}

header img {
    width: 230px;
    height: auto;
    padding: 0 0 0 30px;
}

header nav {
    display: flex;
    justify-content: flex-end;

}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    font-family: var(--body-font);
}

.navigation a {
    display: block;
    color: var(--primary-color);
    padding: 0.75rem 3rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: aliceblue;
    border-radius: 5px;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}


.gallery-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: var(--accent3-color);
}

.gallery-section figure {
    flex: 1 0 18%;
    background-color: var(--accent1-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
}

.gallery-section figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery-section figcaption {
    font-size: 1rem;
    color: var(--primary-color);
    margin-top: 10px;
    text-align: center;
}

.info-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    padding: 40px 20px;
    background-color: var(--accent3-color);
    color: #fff;
}

.info-section .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent1-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.info-section .two img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;

}

.info-section .two p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 15px;
    color: #e6f8f2;
    text-align: left;
}