:root {
    --border: 1px solid steelblue;
    --height: auto;
    --padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 14px 0 30px gray;
    float: right;
    margin: 2.4rem 0 1rem 1rem;

}

aside {
    width: 600px;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    color: black;
    top: 20px;
    left: 210px;
}

aside img {
    width: 200px;
    height: var(--height);
}

nav {
    background-color: darkblue;

}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
    padding: 0;
}

p {
    padding: var(--padding);
    margin: 1rem;
}

footer {
    display: block;
    margin-top: 15px;
    border-top: 1px solid #000;
    padding-top: 3px;
    text-align: center;
    font-size: smaller;
}

/* Class selector. all class selector will be placed below this */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 10%);
    padding: var(--padding);
    background-color: darkblue;
    color: #fff;
}

.indent {
    padding-left: 1rem;
}